* {
	box-sizing: border-box;
}

body {
	background-color: red;
	margin: 0;
	padding: 0;
}

.container-main { /* The Container main*/
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
 
.container-left { /* The Left Container Where My Image of my Face Belong */
	width: clamp(200px, 50vw, 1000px);
	background-color: white;
	height: 100vh;
	position: relative;
}

.container-right {
	width: clamp(200px, 50vw, 1000px);
	background-color: black;
	height: 100vh;
	position: relative;
}

.myface-con { /* The Image Of My Face */
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 19vh;
	transform: translateX(-0%);
/*	animation: anim-facec 1s forwards; */
	animation-delay: 0.4s;
}

/* Animation For Myface-con */

@keyframes anim-facec {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0%);
	}
}

.myface img {
	margin-left: 4rem;
	border-radius: 100px;
	max-height: 200px;
}

.text-container {
	margin-left: 4rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.text1, .introd {
	position: absolute;
}

.introd { /* The Introduction */
	top: 45vh;
}

.text1 {
	top: 55vh;
}

.myname1 { /* The I'M CARL JAYBERT TALANDA */
	position: absolute;
	top: 22vh;
	margin-left: 30vh;
	transform: translateY(-0vh);
/*	animation: myname12 1.2s forwards; */
	animation-delay: 0.9s;
}

/* Animation For .myname1 */

@keyframes myname12 {
	0% {
		transform: translateY(-29vh);
	}

	100% {
		transform: translateY(0vh);
	}
}

.mycare {
	position: absolute;
	top: 28vh;
	margin-left: 30vh;
	transform: translateX(0vh);
/*	animation: mycare12 1.4s forwards; */
	animation-delay: 1.2s;
}

/* Animation For .mycare */

@keyframes mycare12 {
	0% {
		transform: translateX(72vh);
	}

	100% {
		transform: translateX(0vh);
	}
}