* {
	box-sizing: border-box;
}

/* body */ /* */

body {
	background-color: #464646;
	margin: 0;
	padding: 0;
}

/* end */

.container-main { /* The main Container for .container-right and .container-left */
	display: flex;
	align-items: flex-start;
}

/* container-right class */

.container-right {
	background-color: black;
	width: 100vh;
	height: 49.1vw;
	margin-left: auto;
}

/* Animation For the .Container right main */

@keyframes anim-right {
	from {
		transform: translateY(-60rem);
	}

	to {
		transform: translateY(-0rem);
	}
}

/* end */

/* container-left class */

.container-left img { /* This is The Class Where the image of my face belong */
	position: absolute;
	left: 18%;
	top: 20%;
	border-radius: 14rem;
	transform: translateX(-35rem);
	animation: animate-image 2s forwards;
	animation-duration: 2s;
	animation-delay: 2.6s;
}

.mycare {
	position: absolute;
	top: 19rem;
	transform: translateX(22rem);
	animation: animate-care 8s forwards;
	animation-delay: 5s;
	opacity: 0;
}

.mycare h2 {
	color: white;
}

.myname1 {
	position: absolute;
	top: 13.5rem;
	transform: translateX(22rem);
	animation: animate-myname 8s forwards;
	animation-delay: 3.8s;
	opacity: 0;
	transition: transform 2s;
}

.myname1:hover {
	transform: translateX(24rem);
}

.myname1 h1 {
	color: white;
}

/* The Animations */

@keyframes animate-care {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}

@keyframes animate-myname {
	from {
		opacity: 0;
	}

	to {
		opacity: 100;
	}
}
/* */

/* end */


.animated-text h1 { /* This is The h1 inside Animated text Where we can change font color and size etc */
	color: white;
	font-size: 2.0rem;
}

.animated-text { /* This is the animated Text the text above "Welcome To My Website" */
	transform: translateX(12rem);
	position: absolute;
	animation: animtext 2.3s forwards;
}

/* animations only */

@keyframes animtext { /* This is The animation for Animated-text class */
	from {
		transform: translateX(-41.1rem);
	}
	to {
		transform: translateX(12rem);
	}
}

/* End */

/* end */

.text-on p { /* This is the text bellow the image of my face At first Pragraph "Hello I'm Carl Jaybert Talanda" */
	color: white;
}

.text-on { /* This is The text-on container where we can change its position and add animations */
	position: absolute;
	top: 28rem;                                  
	left: 0rem;
	width: 40rem;
	transform: translateX(-44rem);
	animation: animate-text 2s forwards;
	animation-delay: 2s;
}

.list2 {
	position: absolute;
	top: 41rem;
	left: 6.3rem;
}

.list2 ul {
	color: white;
}

/* End */

/* Animtaion */
@keyframes animate-text { /* The animation for text-on class */
	from {
		transform: translateX(-44rem);
	}

	to {
		transform: translateX(8rem);
	}
}

@keyframes animate-image { /* An animation for .container-left img */
	from {
		transform: translateX(-35rem);
	}

	to {
		transform: translateX(-13rem);
	}
}

/* End Animation */
 
.image-of-code img {
	position: absolute;
	top: 20rem;
	left: 70rem;
}

.image-of-code1 img {
	position: absolute;
	top: 20rem;
	left: 98rem;
}