
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container-right { /* The container Right Where the things on right */
	background-color: black;
	float: right;
	width: 90vh;
	height: 49.1vw;
}

.image1 img { /* The image of my Ugly Face */
	width: 330px;
	max-height: 331px;
	transform: translateY(-23rem);
	margin-left: 2rem;
	border-radius: 12rem;
	animation: anim-image 2.5s forwards;
	animation-delay: 18s;
}

/* image1 img's animation  original Y position of image is 4rem at transform Y translate*/

@keyframes anim-image {
	from {
		transform: translateY(-23rem);
	}

	to {
		transform: translateY(4rem);
	}
}

/* End */

.article { /* The Article paragraph text bellow the Introduction */
	transform: translateY(2rem);
	width: 60rem;
	margin-left: -71rem;
	animation: article-anim 3s forwards;
	animation-delay: 17s;
}

/* animation for article */

@keyframes article-anim {
	from {
		margin-left: -71rem;
		opacity: 0;
	}

	to {
		margin-left: 2rem;
		opacity: 100;
	}
}

/* end */

.boldtext { /* the introduction */
	transform: translateY(1rem);
	margin-left: -71rem;
	animation: anim-intro 3s forwards;
	animation-delay: 14s;
}

/* Animation for introductions */

@keyframes anim-intro {
	from {
		margin-left: -71rem;
		opacity: 0;
	}

	to {
		margin-left: 2rem;
		opacity: 100;
	}
}

/* end */

/* header */

.header1 {
	transform: translateY(-10rem);
	margin-left: 25rem;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: repeat(2, 1fr);
}

.value-name, .value-email, .GITHUB-value, .talent-value {
	margin-right: 22rem;
}
/* Titles */
.name { /* Original Transform Y translate is 0rem(This element is on top so the value should be on right) */
	transform: translateY(-14rem);
	animation: animt-name 3s forwards;
}

/* Animation For Name */

@keyframes animt-name {
	0% {
		transform: translateY(-14rem);
	}

	100% {
		transform: translateY(0rem);
	}
}

/* End */

.Email { /* Original Transform X translate is 0rem */
	transform: translateX(42rem); /* 42rem should Note in this Class Should always visibility hide */
	animation: anim-email 2s forwards;
	animation-delay: 4s;
}

/* Animation for email */

@keyframes anim-email {
	from {
		transform: translateX(42rem);
	}

	to {
		transform: translateX(0rem);
	}
}

.GITHUB { /* Original Transform X translate is 0rem is on left*/ 
	transform: translateX(-30rem);
	animation: GITHUB-ANIM 3s forwards;
	animation-delay: 6s;
}

@keyframes GITHUB-ANIM {
	from {
		transform: translateX(-30rem);
	}

	to {
		transform: translateX(0rem);
	}
}

.Talent { /* Original Transform X translate is -16rem */
	transform: translateX(44rem);
	animation: Talent-anim 2s forwards;
	animation-delay: 10s;
}

@keyframes Talent-anim {
	from {
		transform: translateX(44rem);
	}

	to {
		transform: translateX(0rem);
	}
}
/* Value of the titles */

.value-name { /* Original Transform X translate is -16rem */ 
	transform: translateX(37rem); /* Note in this Class Should always visibility hide. is on the left */
	animation: anim-value-name 3s forwards;
	animation-delay: 3s;
}

/* Value Name Animation */

@keyframes anim-value-name {
	from {
		transform: translateX(37rem);
	}

	to {
		transform: translateX(0rem);
	}
}

/* Value Name Animation End */

.value-email { /* Original Transform Y translate is -16rem */
	transform: translateY(46rem);
	animation: anim-email-value 2s forwards;
	animation-delay: 5s;
}

@keyframes anim-email-value {
	from {
		transform: translateY(46rem);
	}

	to {
		transform: translateX(0);
	}
}

.GITHUB-value { /* Original Transform X translate is -16rem */
	transform: translateX(37rem);
	animation: GITHUB-ANIM-VALUE 2s forwards;
	animation-delay: 8s;
}

@keyframes GITHUB-ANIM-VALUE {
	from {
		transform: translateX(37rem);
	}

	to {
		transform: translateX(0rem);
	}
}

.talent-value { /* Original Transform X translate is -16rem */
	transform: translateY(43rem);
	animation: talent-anim-value 2s forwards;
	animation-delay: 11s;
}

@keyframes talent-anim-value {
	from {
		transform: translateY(43rem);
	}

	to {
		transform: translateX(0rem);
	}
}
/* end */

